body{
    width: fit-content;
}

.header {

    height: 60px;
    background-color: #444;
    display: flex;
    padding: 0 10px;
    
}



.header .part1 {
    margin-left: -34px;
    width: 50%;
    
}


.header .icons {
    display: flex;
    margin-left: 50px;
    gap: 20px;
    color: white;

}



.header .iconn {
    position: relative;
    
    height: 60px;
    width: 28px;
    display: flex;
    align-items: center;
    padding-left: 12px;



}

.header .iconn::before {
    content: "";
    position: absolute;
    width: 0%;
    height: .5px;
    background-color: white;
    top: 57px;
    left: 0px;
    transition: 1s;

}

.header .iconn:hover::before{
    width: 100%;
}


.header .iconn:hover {
    background-color: grey;

}




.header .part2 {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-end;
}

.part2 .icons2 {
    
    display: flex;
    gap: 30px;
    align-items: center;
    margin-right: -11px;
    
}

.part2 .icons2 div{
    position: relative;
}

.part2 .icons2 div::before{
    content: "";
    position: absolute;
    width: 0%;
    height: .5px;
    background-color:white;
    top: 57px;
    left: 0px;
    transition: 1s;
}


.part2 .icons2 div:hover::before{
    width: 100%;
}


.part2 .icons2 .spec-icon,
.part2 .icons2 .cube {
    width: 50px;
    height: 60px;
    align-items: center;
    display: flex;

    justify-content: center;
}

.part2 .icons2 .spec-icon:hover,
.part2 .icons2 .cube:hover {
    background-color: grey;

}

.part2 .icons2 .spec-icon i,
.part2 .icons2 .cube i {
    color: white;
    font-size: 20px;

}

.img-div img {
    width: 130px;
    height: 30px;
}









.firsth2 {
    text-align: center;
    font-size: 30px;
    color: darkgray;
}

h1 {
    position: relative;
    right: 50px;
    bottom: 10px;
}

.h22 {
    position: relative;
    right: 240px;


}

.h22:hover {
    background-color: rgb(121, 107, 107);
}



.imgsec1 {
    display: flex;
    justify-content: space-around;
    position: relative;


}

.imgsh1 {
    text-align: center;
    padding-left: 100px;
    position: relative;
    bottom: 177px;
    color: white;
    font-size: 30px;
    font-family: "Noto Kufi Arabic", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

.imgsec2 {
    display: flex;
    justify-content: space-around;
    position: relative;
    left: 7px;
}

.imgg {
    opacity: 0.9;

}

.diiv {
    display: flex;
    justify-content: space-between;
}

.btn1 {
    margin-left: 5px;
    margin-top: 16px;
    width: 100px;
    height: 40px;
    background-color: rgba(220, 220, 220, 0.288);
    font-weight: 900;
    font-size: 17px;
    border-color: green;
    color: rgba(0, 128, 0, 0.76);


}

.btn1:hover {
    background-color: rgba(0, 128, 0, 0.76);
    color: white;
}

.sec2 {
    background-color: rgba(220, 220, 220, 0.288);
    height: 72vh;
    margin-top: 40px;
}

.sec3 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 180px;
}

.firstparagraph1 {
    position: relative;
    left: 160px;
}

.firstparagraph4 {
    position: relative;
    left: 190px;
}

.firstparagraph3 {
    position: relative;
    left: 190px;
}

.firstparagraph2 {
    position: relative;
    left: 180px;
}

.firsth42 {
    position: relative;
    left: 67px;
}

.firsth43 {
    position: relative;
    left: 140px;
}

.firsth44 {
    position: relative;
    right: 14px;
}

.sec4 {
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
}

h5 {
    font-size: 15px;
    position: relative;
    left: 120px;


}

#twitter {
    font-size: 30px;
    position: relative;
    left: 220px;
}

#face {
    font-size: 30px;
    position: relative;
    left: 250px;
}

.sech5 {
    position: relative;
    left: 452px;
    bottom: 40px;

}

.sech5seclink {
    position: relative;
    right: 20px;
}

.sech5thirdlink {
    position: relative;
    right: 13px;
}

.sech5fourlink {
    position: relative;
    left: 10px;
}

.thirdh5 {
    position: relative;
    left: 700px;
    bottom: 120px;
}

.thirdh5firlink {
    position: relative;
    right: 20px;
}

.thirdh5seclink {
    position: relative;
    left: 97px;
}

.thirdh5thilink {
    position: relative;
    right: 26px;
}

.thirdh5fourlink {
    position: relative;
    left: 10px;
}

.thirdh5fifthlink {
    position: relative;
    left: 67px;
}

.fourh5 {
    position: relative;
    left: 1200px;
    bottom: 226px;
}

.fourh5firlink {
    position: relative;
    left: 500px;
}

.fourh5seclink {
    position: relative;
    left: 30px;
}

.fourh5thilink {
    position: relative;
    left: 47px;
}

.fourh5fourlink {
    position: relative;
    left: 47px;
}

.fourh5fifthlink {
    position: relative;
    left: 46px;
}

.fifh5 {
    position: relative;
    left: 180px;
    bottom: 280px;

}

.hsoobsec {
    background-color: rgba(220, 220, 220, 0.288);
    height: 70px;
    position: relative;
    bottom: 200px;
}

.linksdiv {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 25px;
}

.hsob4 {
    position: relative;
    right: 15px;
}

.hsob3 {
    position: relative;
    right: 50px;
}

.hsob2 {
    position: relative;
    right: 90px;
}

.hsob1 {
    position: relative;
    right: 140px;
}

.copyright {
    position: relative;
    bottom: 7px;
}

.stars {
    position: relative;
    left: 200px;
    color: rgba(207, 104, 8, 0.973);
}

.hsoblogo {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 160px;
    margin-top: 222px;
}

.info {
    width: 1000px;
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 100px;

}

.info1 {
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 100px;

}

.sixlink {
    position: relative;
    left: 330px;

}

.fifthlink {
    position: relative;
    left: 310px;
}

.fourthlink {
    position: relative;
    left: 300px;
}

.thirdlink {
    position: relative;
    left: 260px;
}

.seclink {
    position: relative;
    left: 230px;
}

.firstlink {
    position: relative;
    left: 200px;
}

.icon {

    width: 50px;
    margin-left: 10px;
    text-align: center;
    margin: auto;
    align-items: center;

}

.iconcontainer {
    height: 70px;
    display: flex;

    justify-content: space-between;
    width: 240px;


}

.icon:hover {
    background-color: rgb(121, 107, 107);
    height: 70px;
    width: 70px;
}






.container{
    
   display: flex;
   gap: 57px;
   justify-content: center;
   align-items: center;
   margin-bottom: 50px;
   padding-bottom: 20px;
}



.container .info2{
    display: flex;
    flex-wrap: wrap;
    width: 23%;
    padding: 4px 10px; 

}

.container .info2 h3,.container .info2 p{
    width: 100%;
    color: green;
}

.container .info22{
    display: flex;
    flex-wrap:wrap ;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 50px;
}
.container .info22 .up{
    margin-top: -76px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;


}
.container .info22 .up h3{
    width: 100%;
}

.container .info22 .up i{
    width: 50%;

}
.container .info22 .icons{

    display: flex;
    font-size: 30px;
    gap: 10px;
 

}

.container .info22 .icons .down{
    display: flex;
}
